<ion-content padding>
  <ion-list no-lines>
    <form class="form" [formGroup]="registrationForm">
      <div style="margin-top: 5%;padding-bottom: 5%;" [hidden]="step != '1'">
        <h1 class="mainHeading">Registration</h1>
        <h5 class="subtitle">We have detected that you are a new user</h5>
        <div style="margin-top:15%;" class="inputBox">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input (keyup.enter)="closeKeyboard();" [class.invalid]="!registrationForm.controls.Username.valid && (registrationForm.controls.Username.dirty || submitAttempt)"
              formControlName="Username" type="text"></ion-input>
          </ion-item>
          <ion-item class="usernameText" *ngIf="registrationForm.controls.Username.pending">
            <p style="color: rgb(226, 226, 226) !important;">Checking username...</p>
          </ion-item>
          <ion-item class="usernameText" *ngIf="!registrationForm.controls.Username.valid && !registrationForm.controls.Username.pending && (registrationForm.controls.Username.dirty || submitAttempt) && registrationForm.value.Username != ''">
            <p style="color: rgb(255, 162, 162) !important;">Sorry, that username is already taken</p>
          </ion-item>
          <ion-item class="usernameText" *ngIf="registrationForm.value.Username == '' && submitAttempt">
            <p style="color: rgb(255, 162, 162) !important;">Sorry, that username cannot be used</p>
          </ion-item>
          <ion-item class="usernameText" *ngIf="registrationForm.controls.Username.valid && !registrationForm.controls.Username.pending && (registrationForm.controls.Username.dirty || submitAttempt)">
            <p style="color: rgb(137, 255, 137) !important;">Username is Available!</p>
          </ion-item>
        </div>
        <div style="margin-top:5%;" class="inputBox">
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select formControlName="gender" ok-text="Ok" cancel-text="Cancel">
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Male">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div [hidden]="step != '2'" style="padding-bottom: 10%;">
        <div style="text-align: center;">
          <br>
          <h1 class="mainHeading">Mobile Number</h1>
          <br>
          <br>
          <br>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="inputBoxMobile">
                  <ion-item>
                    <ion-input (keyup.enter)="closeKeyboard();" maxlength="4" style="font-size: 20px;" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="countryCode" type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
              <ion-col col-8>
                <div class="inputBoxMobile">
                  <ion-item>
                    <ion-input (keyup.enter)="closeKeyboard();" placeholder="827414525" style="font-size: 20px;" formControlName="CellNumber"
                      type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item class="errorMessage" *ngIf="!registrationForm.controls.CellNumber.valid  && registrationForm.controls.CellNumber.dirty && mobileSubmitAttempt">
            <p style="color: rgb(252, 176, 176);">Please enter a mobile number.</p>
            <p style="color: rgb(252, 176, 176);">Minimum of 9 numbers is required)</p>
            <p style="color: rgb(252, 176, 176);">Country code is required</p>
          </ion-item>
        </div>
        <p style="text-align: center;color: white">Configure your mobile number to connect with more friends who have the Mahala app</p>
      </div>
      <div [hidden]="step != '3'">
        <h1 class="mainHeading">Profile Image</h1>
        <br>
        <br>
        <img class="profileImage" *ngIf="registrationForm.value.Image != null && registrationForm.value.Image != '' && registrationForm.value.Image != undefined"
          (click)="uploadImage();" src="{{registrationForm.value.Image}}">
        <img class="profileImage" *ngIf="registrationForm.value.Image == null || registrationForm.value.Image == '' || registrationForm.value.Image == undefined"
          (click)="uploadImage();" src="{{imageUrl}}">
        <p style="text-align: center;color: white;margin-top: 5%;font-family: 'Assistant', sans-serif !important;">Click
          on the image to open your Gallery</p>
      </div>
    </form>
  </ion-list>
  <div class="bottomButtons">
    <button ion-button class="buttonText" (click)="goToNextStep();" block color="light" outline>Continue</button>
    <button style="margin-top: 3%;" [hidden]="step == '3'" ion-button class="buttonText" (click)="cancel();" block color="light">Back</button>
  </div>
</ion-content>