<div class="divClass">
  <div class="image" #div>
    <img width="100%" height="100%" src="assets/imgs/mahala-logo.png">
  </div>
  <div>
    <p class="appName">Mahala</p>
  </div>
  <form [formGroup]="loginForm">
    <ion-item class="bg-style">
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item class="bg-style">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button class="loginPageButtons" (click)="loginUser()" [disabled]="!loginForm.valid" id="loginButton"
      color="primary" style="margin-top:10%;"><b>Login</b></ion-button>
    <ion-button class="loginPageButtons" (click)="goBack()" id="backButton"
      color="warning"><b>Back</b></ion-button>
    <!-- <ion-button class="loginPageButtons"  (click)="goToRegistration()" color="primary"><b>Register</b></ion-button> -->
  </form>
  <div style="text-align: center;margin-top:5%;">
    <a (click)="forgotPassword();">Forgot Password</a>
    <!-- <ion-button class="loginPageButtons" (click)="forgotPassword()"><b>Forgot Password</b></ion-button> -->
  </div>
  <br>
</div>
<!-- <ion-header>
  <h1 class="mainHeading" style="color: white;margin-top: 5%;">Login</h1>
</ion-header>
<ion-content #content class="background" padding>
  <ion-list no-lines>
    <form class="form" [formGroup]="loginForm">
      <div style="margin-top:15%;" class="inputBox">
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
      </div>
      <ion-item class="errorMessage" *ngIf="!loginForm.controls.username.valid  && loginForm.controls.username.dirty && submitAttempt">
        <p style="color: rgb(255, 191, 191) !important">Please enter a valid username.</p>
      </ion-item>
      <div style="margin-top:7%;" class="inputBox">
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input (keyup.enter)="closeKeyboard();" *ngIf="!showPassword" formControlName="password" type="password"></ion-input>
          <ion-input (keyup.enter)="closeKeyboard();" *ngIf="showPassword" formControlName="password" type="text"></ion-input>
        </ion-item>
      </div>
      <ion-item class="passwordShowText" style="">
        <ion-label style="color: white;">Show Password</ion-label>
        <ion-toggle [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>
      <ion-item class="errorMessage" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty && submitAttempt">
        <p style="color: rgb(255, 191, 191) !important">Please enter a valid password.
          <br>(minimum of 6 characters/numbers)</p>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
<ion-footer *ngIf="isKeyboardHide">
  <div style="margin-bottom: 5%;">
    <button ion-button class="buttonText" (click)="loginUser();" block color="light" outline>Login</button>
    <br>
    <button ion-button class="buttonText" (click)="cancel();" block color="light">Back</button>
    <br>
    <div class="forgotPasswordText">
      <a (click)="forgotPassword()">Forgot Password</a>
    </div>
  </div>
</ion-footer> -->