.divClass {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.loginPageButtons {
  width: 90%;
  margin-left: 5%;
  height: 40px;
}
.appName {
  font-size: 27px;
  margin-top: 0%;
  font-weight: 500;
  font-family: "Indie Flower", cursive !important;
  width: 80%;
  margin-left: 40%;
}
.image {
  width: 60%;
  margin-left: 20%;
}
// page-login {
//     .background .scroll-content {
//         overflow: hidden;
//     }
//     .item.item-input {
//         background-color: transparent;
//         font-size: 20px;
//         margin-top: 8px;
//         color: white !important;
//         font-family: 'Assistant', sans-serif !important;
//     }
//     .item.item-select {
//         background-color: transparent;
//         color: white;
//         font-size: 20px;
//         margin-top: 10px;
//     }
//     .keyboard-open .has-footer {
//         bottom: 0;
//     }
//     .passwordShowText {
//         background-color: transparent;
//         width: 100%;
//         font-family: 'Assistant', sans-serif !important;
//         margin-top: 1%;
//         ion-label {
//             text-align: right
//         }
//     }
//     .inputBox ion-label {
//         color: rgb(233, 233, 233) !important;
//         font-family: 'Assistant', sans-serif !important;
//         font-size: 20px;
//     }
//     .profileImage {
//         width: 50%;
//         height: 190px;
//         border-radius: 50%;
//         border-style: solid;
//         border-width: 2px;
//         border-color: white;
//     }
//     .bottomButtons {
//         margin-top: 35%;
//         width: 80%;
//         margin-left: 10%;
//     }
//     .bottomButtons button {
//         border-radius: 8px;
//     }
//     .text {
//         background-color: transparent;
//         color: white;
//         font-size: 20px;
//         margin-top: 20px;
//     }
//     .textMobile {
//         background-color: transparent;
//         color: white;
//         font-size: 25px !important;
//         margin-bottom: 10px !important;
//     }
//     .mainHeading {
//         font-family: 'Assistant', sans-serif !important;
//         font-size: 25px;
//         width: 100%;
//         text-align: center;
//         color: white;
//     }
//     .inputBox {
//         background-color: rgba(0, 0, 0, 0.3);
//         width: 90%;
//         margin-left: 5%;
//         border-radius: 3px;
//     }
//     .errorMessage {
//         background-color: transparent;
//         color: rgb(255, 176, 176);
//         margin-left: 7%;
//     }
//     .inputBox {
//         width: 90%;
//         margin-left: 5%;
//         border-radius: 3px;
//         background-color: $our-color-secondary;
//     }
//     .inputBoxMobile {
//         background-color: rgba(0, 0, 0, 0.3);
//         width: 90%;
//         margin-left: 5%;
//         border-radius: 3px;
//     }
//     .form {
//         text-align: center;
//     }
//     .heading {
//         text-align: center;
//         color: white;
//     }
//     .forgotPasswordText {
//         text-align: center;
//         width: 100%;
//         background-color: transparent;
//     }
//     .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
//         -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
//     }
//     .list-md .item-input.item-input-has-focus:last-child,
//     .list-md .item-input.input-has-focus:last-child {
//         -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
//     }
//     .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
//     .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
//         -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
//     }
//     .item-inner {
//         border-bottom-color: transparent !important;
//         box-shadow: none !important;
//     }
//     .buttonText {
//         width: 80%;
//         margin-left: 10%;
//     }
// }
