.cancelRadiusButton {
  // height: 30px;
  height: 2em;
  border-radius: 15px;
  background-color: red;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.saveRadiusButton {
  // height: 30px;
  height: 2em;
  border-radius: 15px;
  background-color: var(--ion-color-primary);
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.backIcon {
  position: fixed;
  margin-top: 4%;
//   color: white;
  font-size: 30px !important;
  margin-left: 4%;
  z-index: 100;
}

.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
//   color: white;
}

.clearButton {
  position: left;
  height: 45px;
  margin-top: 10px;
  width: 40%;
  margin-left: 5%;
  padding: 2px;
  border: 1.5px solid;
  height: 45px;
  border-radius: 8px;
//   background-color: white;
  // border-color: $our-color;
  // color: $our-color;
}

.predictedAddress {
  // background-color: $our-color;
//   color: white;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}

.saveButton {
  position: right;
  height: 45px;
  margin-top: 10px;
  width: 40%;
  margin-left: 5%;
  padding: 2px;
  border: 0px solid;
  height: 45px;
  border-radius: 8px;
//   color: white;
  // background-color: $our-color;
}

.searchBar {
  border-radius: 35px;
}

.searchbar-ios {
  background-color: transparent;
}

.editButton {
  border: 1.5px solid;
  height: 45px;
  border-radius: 20px;
  background-color: transparent;
  border-color: darken(#cf0152, 10%);
  width: 50%;
  padding: 2px;
  margin: 0 auto;
  display: block;
}

.radiusLabel {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 34px;
  font-family: "Assistant", sans-serif !important;
  font-size: 18px;
//   color: white;
}

.divBackground {
  // background-color: $grey-background-color;
}

.inputBox {
  // background-color: $our-color;
  width: 90%;
  margin-left: 5%;
  border-radius: 3px;
//   color: white;
}

.inputBox ion-item {
  width: 90%;
  margin-left: 5%;
  border-radius: 3px;
  color: black;
  font-family: "Assistant", sans-serif !important;
}

.addAddressButton {
  width: 90%;
  margin-left: 5%;
  // background: $our-color;
//   color: white;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
}

.range-md .range-bar {
  height: 10px;
}

.range-md .range-tick {
  height: 10px;
  width: 3px;
}

.range-ios .range-slider {
  width: 100px;
}

.range-md .range-knob {
  height: 30px;
  width: 30px;
}

.range-md .range-knob-handle {
  top: 19px;
}

.descriptions {
  text-align: center;
  // color: $our-color;
  // font-size: 1.5rem;
  width: 90%;
  margin-left: 5%;
  font-family: "Assistant", sans-serif !important;
}

.savedAddressItem {
  width: 90% !important;
  margin-left: 5%;
  border-radius: 3px;
  // color: $our-color;

  ion-item {
    // background-color: $our-color;
    width: 90% !important;
    margin-left: 5%;
    border-radius: 3px;
    // color: white;
    font-family: "Assistant", sans-serif !important;

    p {
      // color: $our-color;
      overflow: unset;
    }
  }
}

.userAddressBook {
  ion-content {
    height: 12em;
    background-color: transparent !important;
    scroll-content {
    //   background: white;
      div {
        background-color: transparent !important;
      }
    }
    ion-item {
      margin-top: 2%;
      // background-color: $our-color;
    }
    ion-label {
    //   color: white;
    }
  }
}

.toggleItem {
  ion-col {
    width: 50%;
    margin: 0;
    ion-item {
      ion-label {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        ion-button {
          height: 2em;
        }
      }
    }
  }
}

.joinButton {
  width: 100%;
  height: 2em;
}

.p_headings {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  // color: $our-color;
}

.item-ios [item-right],
.item-ios [item-end] {
  margin: 0;
}

.spinner-container {
//   background: white !important;
}

.primary-text {
  color: var(--ion-color-primary);
}
