<ion-header>
    <ion-toolbar style="text-align:center;background: transparent !important" hideBackButton>
        <ion-buttons slot="start" *ngIf="initOpen == false" icon-only (click)="goBack();">
            <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
        <ion-title class="mainHeading">Location Settings</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #content>
    <div class="divBackground">
        <p class="descriptions">Let us know where you are
            for us to show you the nearest venues to you or your friends</p>
        <div class="inputBox">
            <ion-grid class="inputBox">
                <div class="radiusLabel">Radius
                    <span class="primary-text">{{distanceRadius}}</span>
                    <span> Km</span>
                </div>
                <ion-item>
                    <ion-range min="5" max="150" step="100" [(ngModel)]="distanceRadius" snaps="true" step="10" color="primary"
                    (ionChange)="updateRadius()">
                      <ion-icon slot="start" size="medium" color="primary" name="pin"></ion-icon>
                      <ion-icon slot="end" color="primary" name="pin"></ion-icon>
                    </ion-range>
                </ion-item>
                <!-- <ion-range style="font-size: 20px;" (ionChange)="updateRadius()" max="150" step="10" snaps="true"
                    color="main" [(ngModel)]="distanceRadius"></ion-range> -->
                <ion-row style="width: 100%;"
                    *ngIf="radiusChanged && !showButtons && (useGps == true || useAddress  == true)">
                    <ion-col>
                        <ion-button color="danger" full class="cancelRadiusButton" (click)="cancelRadius()">Cancel</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button full class="saveRadiusButton" (click)="saveRadius()">Save</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <br>
            <div class="toggleItem">
                <ion-item no-lines>
                    <ion-label>GPS (use current location)</ion-label>
                    <ion-toggle [(ngModel)]="useGps" (ionChange)="gpsToggle()"></ion-toggle>
                </ion-item>
                <ion-item no-lines>
                    <ion-label>Address (enter location)</ion-label>
                    <ion-toggle [(ngModel)]="useAddress" (ionChange)="addressToggle()"></ion-toggle>
                </ion-item>
            </div>
            <br>
        </div>
        <div *ngIf="useGps">
            <ion-button class="addAddressButton" (click)="refreshLocation();" block color="dark" outline>Refresh
                Location</ion-button>
        </div>
        <div *ngIf="useAddress">
            <div>
                <p class="p_headings">Selected Address:</p>
                <div style="text-align: center;width: 100%;" class="savedAddressItem">
                    <div no-lines>
                        <p *ngIf="addressSaved != null">{{addressSaved}}</p>
                        <p style="text-align: center;" *ngIf="addressSaved == null">No Address Saved</p>
                    </div>
                </div>
            </div>
            <p class="p_headings">Address Book:</p>
            <div class="inputBox">
                <div *ngIf="userAddressBook.length != 0" style="text-align: center;" class="userAddressBook">
                    <ion-content>
                        <div *ngFor="let userAddress of userAddressBook ; let i = index;">
                            <ion-item>
                                <ion-label text-wrap>{{userAddress}}<br></ion-label>
                                <ion-col item-end col-3>
                                    <ion-row>
                                        <ion-button class="joinButton" (click)="selectedAddress(userAddress)"
                                            color="primary">Select
                                        </ion-button>
                                    </ion-row>
                                    <ion-row>
                                        <ion-button class="joinButton" (click)="removeAddress(userAddress)"
                                            color="danger">Remove
                                        </ion-button>
                                    </ion-row>
                                </ion-col>

                            </ion-item>
                        </div>
                    </ion-content>
                </div>
            </div>
            <ion-button *ngIf="showEdit" block color="secondary" outline
                class="addAddressButton" (click)="editAddress()">Add
                Address
            </ion-button>
            <div class="inputBox" style="margin-top:2%;">
                <div class="searchBar" *ngIf="!addressSelected">
                    <ion-searchbar [(ngModel)]="term" [showCancelButton]="false" (ionInput)="getPredictions(term)"
                        (ionCancel)="cancelSearch()" (ionClear)="clearSearch()"
                        placeholder="Start typing and select ..." (keyup.enter)="closeKeyboard();">
                    </ion-searchbar>
                </div>
                <div *ngIf="!addressSelected">
                    <div *ngIf="loading" class="spinner-container">
                        <ion-spinner></ion-spinner>
                    </div>
                    <ion-list>
                        <ion-item *ngFor="let item of addressPredictions" (click)="chooseAddress(item)">
                            {{ item }}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <br>
            <div *ngIf="showButtons">
                <p class="p_headings">New Address:</p>
                <ion-item no-lines class="predictedAddress">
                    {{ address }}
                </ion-item>
                <ion-button outline bock class="clearButton" color="danger" (click)="clearSearch()">Clear</ion-button>
                <ion-button class="saveButton" color="primary" (click)="saveAddress()">Save</ion-button>
            </div>
        </div>
    </div>
    <br>
</ion-content>