.loginText {
  text-align: center;
  width: 100%;
  font-family: "Assistant", sans-serif !important;
  font-size: 15px;
  margin: 0;
}
.button {
  font-size: 23px;
  text-transform: none;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.279);
  border-color: rgb(210, 220, 255);
  font-family: "Assistant", sans-serif !important;
  height: 2em;
  width: 80%;
  margin-left: 10%;
}
.appName {
  font-size: 27px;
  margin-top: 0%;
  font-weight: 500;
  font-family: "Indie Flower", cursive !important;
  width: 80%;
  margin-left: 40%;
}
.loginButton {
//   width: 80%;
//   margin-left: 10%;
  border: 1.5px solid;
  height: 2.5em;
  border-radius: 8px;
}
.saveButton {
  height: 2.5em;
  width: 80%;
  margin-left: 10%;
  border: 0px solid;
  border-radius: 8px;
}
.image {
  width: 60%;
  margin-left: 20%;
}
