<ion-content class="background" padding no-bounce>
  <div class="image" #div>
    <img width="100%" height="100%" src="assets/imgs/mahala-logo.png">
  </div>
  <div>
    <p class="appName">Mahala</p>
  </div>
  <div class="buttonsDiv">
    <ion-button class="button" (click)="register();" block color="warning" outline>Register</ion-button>
    <br>
    <ion-button class="button" block color="secondary" (click)="facebookLogin();" outline>Facebook</ion-button>
  </div>
</ion-content>
<ion-footer>
  <div>
    <p class="loginText">Already a user?</p>
    <br>
    <ion-button outline block class="button" (click)="login()" color="primary">Login
    </ion-button>
  </div>
</ion-footer>