<ion-content #container class="card-background-page">
  <div class="divContent">
    <h2 class="congratsText">Congratulations!</h2>
    <div class="img" [style.background-color]="badge.Color">
      <img *ngIf="badge.BadgeTypeId == 1" [style.background-color]="badge.Color" class="badgeIcon"
        src="assets/icon/reward-icons/001-like.png">
      <!-- <img *ngIf="badge.BadgeTypeId == 2" [style.background-color]="badge.Color" class="badgeIcon"
        src="assets/icon/reward-icons/003-product.png"> -->
      <img *ngIf="badge.BadgeTypeId == 3" [style.background-color]="badge.Color" class="badgeIcon"
        src="assets/imgs/opinion-color.svg">
    </div>
    <br>
    <h4 class="description" *ngIf="badge.BadgeTypeId != 2">You have earned a
      <span [ngStyle]="{'color': badge.Color}">
        {{badge.Name}}
      </span> badge at <span class="venueName">{{venueName}}</span>
    </h4>
    <!-- <h4 class="description" *ngIf="badge.BadgeTypeId == 2">You have earned a
      <span [ngStyle]="{'color': badge.Color}">
        {{badge.Name}}
      </span> badge because <span [ngStyle]="{'color': badge.Color}">{{friendFullName}}</span> accepted your invite and checked in at <span [ngStyle]="{'color': badge.Color}">{{venueName}}</span>
    </h4> -->
  </div>
</ion-content>
<ion-footer>
  <ion-button class="closeButton" (click)="close();">
    Close
  </ion-button>
</ion-footer>