.card-background-page {
  text-align: center;
}
.divContent {
  margin-top: 5%;
  display: inline-block;
}
.closeButton {
  text-transform: none;
  font-family: "Assistant", sans-serif !important;
  margin-left: 10%;
  width: 80%;
  background-color: #01b9f7;
}
.img {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 40vw;
  height: 40vw;
  img {
    width: 70%;
    margin-top: 15%;
  }
}
.badgeIcon {
  border-radius: 50%;
}
.congratsText {
  text-align: center;
  margin-top: 20%;
}
.description {
  text-align: center;
  margin-top: 20%;
}
.venueName {
    color: var(--ion-color-primary);
    font-weight: bold;
}
