
.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
  // color: white;
}
.backIcon {
  position: fixed;
  margin-top: 4%;
  // color: white;
  font-size: 30px !important;
  margin-left: 4%;
  z-index: 100;
}
.inputBoxMobile {
  background-color: rgba(0, 0, 0, 0.3);
  width: 86%;
  margin-left: 7%;
  border-radius: 3px;
  align-content: center;
  text-align: center;
}
.bottomButtons {
  margin-top: 25%;
  width: 90%;
  margin-left: 5%;
}
.bottomButtons button {
  border-radius: 8px;
}
.button {
  font-size: 23px;
  text-transform: none;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.279);
  border-color: rgb(210, 220, 255);
  font-family: "Assistant", sans-serif !important;
  height: 2em;
  width: 80%;
  margin-left: 10%;
}
