<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="step == 1" slot="start" (click)="goBackPage();">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="header-style">
            Forgot Password
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="step == 1">
        <br>
        <h1 class="mainHeading">Email Address</h1>
        <p style="text-align: center;">Please enter your email address</p>
        <div style="margin-top: 9%;" class="inputBoxMobile">
            <ion-item>
                <ion-input [(ngModel)]="emailAddress" (keyup.enter)="closeKeyboard();" placeholder="Johnny@live.com"
                    style="font-size: 20px;text-align: center;align-content: center;" type="text"></ion-input>
            </ion-item>
        </div>
    </ng-container>
    <ng-container *ngIf="step == '2'">
        <br>
        <h1 class="mainHeading">One Time Pin</h1>
        <p style="text-align: center;">Please enter the OTP sent to your email</p>
        <div style="margin-top: 9%;" class="inputBoxMobile">
            <ion-item>
                <ion-input [(ngModel)]="otpPin" (keyup.enter)="closeKeyboard();" placeholder="53489"
                    style="font-size: 20px;text-align: center;align-content: center;" type="text"></ion-input>
            </ion-item>
        </div>
    </ng-container>
    <ng-container *ngIf="step == '3'">
        <br>
        <h1 class="mainHeading">New Password</h1>
        <p style="text-align: center;">Please enter your new password</p>
        <div style="margin-top: 9%;" class="inputBoxMobile">
            <ion-item>
                <ion-input [(ngModel)]="newPass" (keyup.enter)="closeKeyboard();" placeholder="New Password"
                    style="font-size: 20px;text-align: center;align-content: center;" type="text"></ion-input>
            </ion-item>
        </div>
        <div style="margin-top: 9%;" class="inputBoxMobile">
            <ion-item>
                <ion-input [(ngModel)]="confirmPass" (keyup.enter)="closeKeyboard();" placeholder="Confirm Password"
                    style="font-size: 20px;text-align: center;align-content: center;" type="text"></ion-input>
            </ion-item>
        </div>
    </ng-container>
    <div class="bottomButtons">
        <ion-button style="border-radius: 5px;" class="button" (click)="goToNextStep();" block color="primary" outline>
            Next</ion-button>
        <ion-button *ngIf="step != '1'" style="border-radius: 5px;margin-top: 15px;" class="button" (click)="goBack();"
            block color="warning" outline>Back</ion-button>
    </div>
</ion-content>