.profileCard {
  font-family: "Assistant", sans-serif !important;
  background-color: rgba(16, 16, 16, 0.344);
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 30%;
}

.input-wrapper {
  font-weight: bold !important;
}

.imageCircle {
  width: 8em !important;
  height: 8em !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-ios .item-button {
  width: 70%;
  margin-left: 0%;
}

.imageCircle img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.contactBox {
  text-align: center;
}

.buttonTextSettings {
  font-size: 18px;
  height: 50px;
  text-transform: none;
  border-width: 2px;
  font-family: "Assistant", sans-serif !important;
}

.name {
  font-size: 28px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
//   color: $our-color;
}

.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
//   color: $our-color;
}

.folHeading {
  font-size: 20px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
}

.folVal {
  font-family: "Rajdhani", sans-serif !important;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.gender {
  font-size: 20px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
}

.email {
  font-size: 18px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
}

.venueItem {
  background-color: transparent;
}

.venueName {
  font-size: 14px;
  text-align: center;
}

.content {
  background: transparent;
}

.grid {
  width: 90%;
  margin-left: 5%;
  background-color: rgba(72, 139, 255, 0.1);
}

.removeFriendText {
  margin-top: 2.5%;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.footer {
  height: 5%;
}

.item-ios.item-block .item-inner {
  border: none;
}

.item-md.item-block .item-inner {
  border: none;
}

.list-ios > .item-block:first-child {
  border-top: none;
}

.list-ios > .item-block:last-child {
  border-bottom: none;
}

.list-md > .item-block:first-child {
  border-top: none;
}

.list-md > .item-block:last-child {
  border-bottom: none;
}

.list-ios {
  margin: 2.5% auto;
}

.list-md {
  margin: 2.5% auto;
}

.item-avatar {
  // height: 100%;
  // width: 20%;
  img {
    width: 100% !important;
    height: 100% !important;
    max-width: 5em !important;
    max-height: 5em !important;
  }
}

.venueText {
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
//   color: $our-color;
  text-decoration: underline;
}

.info {
  width: 100%;
  text-align: center;
}

.button {
    width: 80%;
    margin-left: 10%;
}

.noRecommendationsText {
  font-size: 14px;
  font-family: "Assistant", sans-serif !important;
  width: 100%;
  text-align: center;
  color: black;
}

.venues {
  width: 95%;
  margin-left: 2.5%;
  background-color: rgba(72, 139, 255, 0.2);
}

.userItem {
  height: 60px;
//   background-color: $our-color;
  border-radius: 5px;
  margin-left: 5%;
  width: 90%;
}

.list {
  width: 95%;
  margin-left: 2.5%;
  background-color: transparent;

  ion-list {
    background-color: transparent;

    ion-item {
      margin: 2.5% auto;
      background-color: rgba(72, 139, 255, 0.1);
    }
  }
}

.buttonChoice {
  width: 100%;
  height: 90%;
}

.buttonRow {
  height: 50%;
  max-height: 20%;
  color: rgba(206, 206, 206, 0.8);
}

.date {
  color: black;
  // background-color: #4B86C8;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.invitationsTitle {
  color: white;
}

ion-scroll[scrollX] {
  white-space: nowrap;
  height: 120px;
  overflow: hidden;

  .scroll-item {
    display: inline-block;
  }

  .selectable-icon {
    margin: 10px 20px 10px 20px;
    font-size: 100px;
  }

  ion-avatar img {
    margin: 10px;
  }
}

ion-scroll[scroll-avatar] {
  height: 60px;
}

.list {
  width: 95%;
  margin-left: 2.5%;
  background-color: transparent;

  ion-list {
    background-color: transparent;

    ion-item {
      margin: 2.5% auto;
      color: white;
      background-color: rgba(72, 139, 255, 0.1);
    }
  }
}

.buttonText {
  width: 50%;
  margin-left: 25%;
  height: 20px;
  font-size: 10px !important;
}

.slidingOptions {
//   background-color: $our-color;
  border-radius: 5px;
}

.invitationText {
  color: rgb(206, 206, 206);
  text-align: center;
}

.invitationHeadingText {
  text-align: center;
}

.spanPadding {
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.spanGreen {
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  color: lightgreen;
}

.spanRed {
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  color: lightcoral;
}

.spanYellow {
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  color: #ffff66;
}

.invitationItem {
//   background-color: $our-color !important;
  border-radius: 2%;
}
