<ion-header>
  <ion-toolbar style="text-align:center;background: transparent !important">
    <ion-buttons slot="start" (click)="goBack();">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mainHeading">{{firstName}} {{lastName}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button ion-button icon-only (click)="presentPopover($event, firstName, lastName)" *ngIf="isFriend">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="content" #container>
  <div *ngIf="loading" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <br>
  <div *ngIf="!loading && !noInternet">
    <div class="imageCircle" #div2 (click)="openImage()">
      <img src="{{MediumImage}}">
    </div>
    <br>
    <ion-label class="info">
      <h3>
        {{username}}
      </h3>
      <p>
        {{email}}
      </p>
      <p>
        {{gender}}
      </p>
    </ion-label>
  </div>
</ion-content>
<ion-footer>
  <div class="button">
    <ion-button outline block class="button" (click)="loadLocationSettings()" color="warning">Location Settings</ion-button>
    <ion-button outline block class="button" (click)="logout()" color="danger">Logout</ion-button>
  </div>
</ion-footer>