<ion-content #content #container>

    <ion-button color="warning" class="backButtonFixed" (click)="goBack();">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div class="cardDiv">
        <img *ngIf="loading && venueImages.TinyImage != null" src="{{venueImages.TinyImage}}" />
        <!-- <img *ngIf="!loading" src="{{venueImages.TinyImage}}" [lazyLoad]="venueImages.Image" [offset]="100"
            [scrollTarget]="container._scroll._el" /> -->
        <img *ngIf="!loading" src="{{venueImages.Image}}" />
    </div>

    <div *ngIf="loading" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="!loading">
        <h1 class="name" *ngIf="venueData != null">{{venueData.Name}}</h1><br>
        <ion-button class="checkInButton" *ngIf="!checkedIn" (click)="confirmLocation()" color="primary">
            <ion-icon name="pin" style="color:white;"></ion-icon>
            <span class="venuePageButtons">Check-In</span>
        </ion-button>

        <ion-button class="checkInButton" *ngIf="checkedIn" (click)="checkOutConfirmation()" color="danger">
            <ion-icon name="pin" style="color:white;"></ion-icon>
            <span class="venuePageButtons">Check-Out</span>
        </ion-button>

        <ion-button class="checkInButton" *ngIf="checkedIn" (click)="verifyBill()" color="primary">
            <ion-icon name="cash" style="color:white;"></ion-icon>
            <span class="venuePageButtons">Verify Bill</span>
        </ion-button>
        <br>
    </ng-container>

    <div (swipe)="swipe($event)" *ngIf="!loading" class="main-content">
        <br>
        <div padding>
            <ion-segment [(ngModel)]="selectedOption">
                <ion-segment-button value="info">
                    Info
                </ion-segment-button>
                <ion-segment-button value="trophyRoom" (click)="trophyRoomClicked()">
                    Trophy Room
                </ion-segment-button>
            </ion-segment>
        </div>

        <div [ngSwitch]="selectedOption">
            <div *ngSwitchCase="'info'">
                <div *ngIf="venueData != null">
                    <h1 class="description">{{venueData.About}}</h1>
                    <div class="centerDiv">
                        <br>
                        <a class="location" (click)="showNavOptionInputAlert();"
                            color="primary">{{venueData.SingleLineAddress}}</a>
                        <ion-icon color="primary" style="font-size: 17px;" name="navigate-outline"></ion-icon>
                        <br>
                        <span style="font-size: 11px;">(Click Address to Navigate)</span>
                    </div>
                    <div class="centerDiv">
                        <br>
                        <span class="colStylingHeadingClick">
                            <a class="location" (click)="presentRecommendationsModal();"
                                color="primary">Recommendations</a>
                        </span>
                        <br>
                        <div style="margin-top:15px;" class="colStylingText">
                            <ion-icon style="color: lightgreen;vertical-align: middle;" name="thumbs-up">
                            </ion-icon>
                            {{venueData.RecommendedCount}}
                            &nbsp;
                            <ion-icon style="color: lightcoral;vertical-align: middle;" name="thumbs-down">
                            </ion-icon>
                            {{venueData.NotRecommendedCount}}
                        </div>
                    </div>
                    <div class="centerDiv">
                        <br>
                        <a *ngIf="!showHours" style="font-weight: bold;" class="location colStylingHeadingClick"
                            (click)="operatingHours();" color="primary">Operating
                            Hours +</a>
                        <a *ngIf="showHours" class="location colStylingHeadingClick" (click)="operatingHours();"
                            color="primary">Operating
                            Hours -</a>
                        <br>
                        <span style="font-size: 11px;">(Click to view operating hours)</span>
                    </div>
                    <br>
                    <div style="margin-top:5px;" class="centerDiv">

                        <div *ngIf="showHours && hoursAvailable">
                            <ion-grid *ngFor="let day of hours.Days;">
                                <ion-row style="width: 86%;margin-left: 7%">
                                    <span style="width:100%;"
                                        class="colStylingHeading">{{weekday[day.DayOfWeek]}}:</span>
                                </ion-row>
                                <ion-row *ngFor="let time of day.Times;"
                                    style="text-align:center;height: 30px !important;">
                                    <p style="width:100%;">
                                        <span class="colStylingHeading" style="border:none;color:lightgreen">Open:
                                        </span> &nbsp;
                                        <span class="colStylingText">
                                            {{time.Open}}
                                        </span>&nbsp;&nbsp;
                                        <span class="colStylingHeading" style="border:none;color:lightcoral">Close:
                                        </span>&nbsp;
                                        <span class="colStylingText">
                                            {{time.Close}}
                                        </span>
                                    </p>
                                </ion-row>
                                <br>
                            </ion-grid>
                        </div>
                        <div *ngIf="!hoursAvailable && showHours">
                            <br>
                            <ion-row>
                                <ion-col>
                                    <span class="colStylingText">No operating hours available.</span>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <ion-grid style="text-align: center !important;">
                        <ion-row>
                            <ion-col>
                                <span class="colStylingHeading">Distance</span>
                                <br>
                                <span class="colStylingText">{{venueData.Distance}}</span>
                            </ion-col>
                            <ion-col>
                                <span class="colStylingHeading">Travel Time</span>
                                <br>
                                <span class="colStylingText">{{venueData.Duration}}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <span class="colStylingHeading">Views</span>
                                <br>
                                <span class="colStylingText">{{venueData.Views}}</span>
                            </ion-col>
                            <ion-col>
                                <span class="colStylingHeading">Venue Types</span>
                                <br>
                                <span *ngIf="venueData.VenueTypes != null">
                                    <span class="colStylingText"
                                        *ngFor="let venueType of venueData.VenueTypes; let isLast=last">
                                        {{venueTypes[venueType - 1].Description}}{{isLast ? '' : ', '}}
                                    </span>
                                </span>
                                <span *ngIf="venueData.VenueTypes == null">
                                    <span class="colStylingText">
                                        No venue types allocated
                                    </span>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <span>
                        <ion-grid class="buttonsBackground"
                            style="border-top-right-radius: 8px;border-top-left-radius: 8px;">
                            <ion-row>
                                <ion-col class="block">
                                    <ion-button class="roundedButton" (click)="openNavigation('uber');" ion-button>
                                        <ion-icon name="car"></ion-icon>
                                    </ion-button>
                                    <p class="iconText">Uber</p>
                                </ion-col>
                                <ion-col class="block">
                                    <ion-button class="roundedButton" (click)="shareMessage('1');" ion-button>
                                        <ion-icon name="logo-whatsapp"></ion-icon>
                                    </ion-button>
                                    <p class="iconText">Share</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </span>
                    <br>

                    <ion-button (click)="callNumberAlert(venueData.Phone);"
                        [hidden]="venueData.Phone == null || venueData.Phone == ''" class="profileCard" ion-item>
                        <span class="contactBox">
                            {{venueData.Phone}}
                        </span>
                    </ion-button>
                    <br>
                    <ion-button [hidden]="venueData.Website == null || venueData.Website == '' "
                        (click)="openWebsite(venueData.Website);" class="profileCard" ion-item>
                        <span class="contactBox">
                            {{venueData.Website}}
                        </span>
                    </ion-button>
                    <br>
                </div>
            </div>

            <div *ngSwitchCase="'trophyRoom'">
                <div *ngIf="trophyRoomLoading" class="spinner-container">
                    <ion-spinner></ion-spinner>
                </div>
                <div style="text-align: center;width:100%;"
                    *ngIf="trophyRoomData == null && !trophyRoomLoading && !noInternet">
                    <br>
                    <img style="margin-top:10%;width:60%;" src="assets/imgs/award.svg">
                    <br>
                    <h5 style="text-align: center;padding: 2.5%">
                        Sorry, you don't have a Trophy Room for this {{venueData.Name}} yet.
                        Visit {{venueData.Name}} and verify your bill to earn points,
                        by asking the manager to scan your bill QR code.
                    </h5>
                    <br>
                </div>
                <div style="text-align: center;" *ngIf="trophyRoomData != null && !trophyRoomLoading && !noInternet">
                    <!-- <ion-row>
                        <ion-col size="5">
                            <div class="colStylingHeading levelHeading">Current Level</div>
                            <p style="margin-top:0px;text-align: center;">{{trophyRoomData.CurrentLevel.Name}}
                            </p>
                        </ion-col>
                        <ion-col size="2"></ion-col>
                        <ion-col size="5">
                            <div class="colStylingHeading levelHeading">Next Level</div>
                            <p style="margin-top:0px;text-align: center;">{{trophyRoomData.CurrentLevel.Name}}
                                ({{trophyRoomData.NextLevel.MinPoints-trophyRoomData.Points}})
                            </p>
                        </ion-col>
                    </ion-row> -->
                    <p style="width:60%;margin-left:20%;font-size: 19px;font-weight: bold;" class="levelHeading">LEVEL</p>

                    <div class="nameBorder"></div>
                    <ion-row style="width:94%;margin-left:3%;margin-top: -10px;">
                        <div style="width:94%;margin-left:3%;">
                            <div class="progress-outer">
                                <div class="progress-inner" [style.width.%]="progressWidth"
                                    [style.background-color]="trophyRoomData.CurrentLevel.Color">
                                    {{trophyRoomData.Points}}
                                </div>
                            </div>
                            <p style="text-align: center;font-size: 13px;margin-top: -10px;">Points</p>
                        </div>
                    </ion-row>

                    <ion-row>
                        <ion-col style="border:none;" col-6 text-center>
                            <div>
                                <!-- <ion-button [style.background-color]="trophyRoomData.CurrentLevel.Color"
                                    class="rewardButton"> -->
                                    <img *ngIf="user.Gender == 'Male'"
                                        [style.background-color]="trophyRoomData.CurrentLevel.Color" class="rewardIcon"
                                        src="assets/imgs/male-flamenco-dancer.svg">
                                    <img *ngIf="user.Gender == 'Female'"
                                        [style.background-color]="trophyRoomData.CurrentLevel.Color" class="rewardIcon"
                                        src="assets/imgs/female-flamenco-dancer.svg">
                                <!-- </ion-button> -->
                                
                                <p style="font-size:16px;font-weight: bold;"
                                    [style.color]="trophyRoomData.CurrentLevel.Color">
                                    <span style="text-decoration: underline;">Current level</span>
                                    <br><span>{{trophyRoomData.CurrentLevel.Name}}</span>
                                    <br><span>{{trophyRoomData.CurrentLevel.MinPoints}} points needed</span>
                                </p>
                            </div>
                        </ion-col>
                        <ion-col style="border:none;" col-6 text-center>
                            <div>
                                <!-- <ion-button [style.background-color]="trophyRoomData.NextLevel.Color"
                                    class="rewardButton"> -->
                                    <img *ngIf="user.Gender == 'Male'"
                                        [style.background-color]="trophyRoomData.NextLevel.Color" class="rewardIcon"
                                        src="assets/imgs/male-flamenco-dancer.svg">
                                    <img *ngIf="user.Gender == 'Female'"
                                        [style.background-color]="trophyRoomData.NextLevel.Color" class="rewardIcon"
                                        src="assets/imgs/female-flamenco-dancer.svg">
                                <!-- </ion-button> -->
                                <p style="top:50%;left:50%;font-size:16px;font-weight: bold;"
                                    [style.color]="trophyRoomData.NextLevel.Color">
                                    <span style="text-decoration: underline;">Next level</span>
                                    <br><span>{{trophyRoomData.NextLevel.Name}}</span>
                                    <br><span>{{trophyRoomData.NextLevel.MinPoints}} points needed</span>
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>

                    <div>
                        <h4 style="text-align:center; ">LEADER BOARD</h4>
                        <div class="nameBorder"></div>
                        <div *ngIf="trophyRoomData.LeaderBoards == undefined || trophyRoomData.LeaderBoards == null">
                            <p>No leader boards at present</p>
                        </div>
                        <div *ngIf="trophyRoomData.LeaderBoards != undefined && trophyRoomData.LeaderBoards != null">
                            <!-- <div padding>
                                <ion-segment style="width: 90%;margin-left: 5%;" [(ngModel)]="leaderSelectedOption">
                                    <ion-segment-button value="global">
                                        Global
                                    </ion-segment-button>
                                    <ion-segment-button value="friends">
                                        Friends
                                    </ion-segment-button>
                                </ion-segment>
                            </div>
                            <br> -->
                            <div [ngSwitch]="leaderSelectedOption">
                                <ion-row *ngSwitchCase="'global'"
                                    style="color:white;border:thin;background-color: var(--ion-color-secondary);width:90%;margin-left:5%;">
                                    <ion-col col-2>
                                        <ion-label>No.</ion-label>
                                    </ion-col>
                                    <ion-col col-5>
                                        <ion-label>Name</ion-label>
                                    </ion-col>
                                    <ion-col col-5>
                                        <ion-label>Tier</ion-label>
                                    </ion-col>
                                </ion-row>
                                <div *ngSwitchCase="'global'" style="width:90%;margin-left:5%;">
                                    <div *ngIf="trophyRoomData.LeaderBoards[globalLeaderBoardType] != null">
                                        <ion-row
                                            *ngFor="let globallLeaderBoardResult of trophyRoomData.LeaderBoards[globalLeaderBoardType].LeaderBoardResult; let i = index;">
                                            <ion-col col-2>
                                                <ion-label>{{globallLeaderBoardResult.Number}}</ion-label>
                                            </ion-col>
                                            <ion-col col-5>
                                                <ion-label>{{globallLeaderBoardResult.User.FirstName}}
                                                    {{globallLeaderBoardResult.User.LastName}}</ion-label>
                                            </ion-col>
                                            <ion-col col-5>
                                                <ion-label>{{globallLeaderBoardResult.Level.Name}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                    <div
                                        *ngIf="trophyRoomData.LeaderBoards[globalLeaderBoardType] == undefined || trophyRoomData.LeaderBoards[globalLeaderBoardType] == null">
                                        <p style="text-align: center;">No global leader board at present</p>
                                    </div>
                                </div>
                                <ion-row *ngSwitchCase="'friends'"
                                    style="border:thin;background-color: #0099cc;width:90%;margin-left:5%;">
                                    <ion-col col-2>
                                        <ion-label>No.</ion-label>
                                    </ion-col>
                                    <ion-col col-5>
                                        <ion-label>Name</ion-label>
                                    </ion-col>
                                    <ion-col col-2>
                                        <ion-label>Level</ion-label>
                                    </ion-col>
                                    <ion-col col-3>
                                        <ion-label>Points</ion-label>
                                    </ion-col>
                                </ion-row>
                                <div *ngSwitchCase="'friends'" style="width:90%;margin-left:5%;">
                                    <div *ngIf="trophyRoomData.LeaderBoards[friendsLeaderBoardType] != null">
                                        <ion-row
                                            *ngFor="let friendsLeaderBoardResult of trophyRoomData.LeaderBoards[friendsLeaderBoardType].LeaderBoardResult; let j = index;">
                                            <ion-col col-2>
                                                <ion-label>{{friendsLeaderBoardResult.Number}}</ion-label>
                                            </ion-col>
                                            <ion-col col-5>
                                                <ion-label>{{friendsLeaderBoardResult.User.FirstName}}
                                                    {{friendsLeaderBoardResult.User.LastName}}</ion-label>
                                            </ion-col>
                                            <ion-col col-2>
                                                <ion-label>{{friendsLeaderBoardResult.Level.Name}}</ion-label>
                                            </ion-col>
                                            <ion-col col-3>
                                                <ion-label>{{friendsLeaderBoardResult.Points}}</ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                    <div
                                        *ngIf="trophyRoomData.LeaderBoards[friendsLeaderBoardType] == undefined || trophyRoomData.LeaderBoards[friendsLeaderBoardType] == null">
                                        <p style="text-align: center;">No friends leader board at present</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>



                    <h4 style="text-align:center; ">BADGES</h4>
                    <div class="nameBorder"></div>
                    <h6 style="text-align:center; ">Check-Ins</h6>
                    <ion-row style="width:90%;margin-left:7%;">
                        <ion-col size='2' *ngFor="let badge of checkInBadges" text-center>
                            <!-- <div class="div_width" > -->
                                <ion-button *ngIf="badge.Gained" [style.background-color]="badge.Badge.Color"
                                    class="rewardButton">
                                    <img [style.background-color]="badge.Badge.Color" class="rewardIcon"
                                        src="assets/icon/reward-icons/001-like.png">
                                </ion-button>
                                <ion-button *ngIf="!badge.Gained" class="rewardButtonDisabled">
                                    <img style="background-color: #ebebeb" class="rewardIcon" src="assets/icon/reward-icons/002-like-1.png">
                                </ion-button>
                            <!-- </div> -->
                        </ion-col>
                    </ion-row>


                    <ion-row style="width:90%;margin-left:12%;margin-top: -1.5em;">
                        <ion-col size='2' *ngFor="let badge of checkInBadges; let i = index;" text-center>
                            <!-- <ng-container class="div_width"  -->
                                <!-- style="background:transparent;"> -->
                                <p *ngIf="badge.Gained" class="badgeDescription">{{badge.Badge.Description}}</p>
                                <p *ngIf="!badge.Gained" class="badgeDescriptionDisabled">{{badge.Badge.Description}}
                                </p>
                            <!-- </ng-container> -->
                        </ion-col>
                    </ion-row>

                    <ng-container *ngIf="inviteBadges.length > 0">
                        <h6 style="text-align:center; ">Invites</h6>
                        <ion-row>
                            <ion-col col-12 text-center>
                                <div class="div_width" *ngFor="let badge of inviteBadges">
                                    <ion-button *ngIf="badge.Gained" [style.background-color]="badge.Badge.Color"
                                        class="rewardButton">
                                        <img [style.background-color]="badge.Badge.Color" class="rewardIcon"
                                            src="assets/icon/reward-icons/003-product.png">
                                    </ion-button>
                                    <ion-button *ngIf="!badge.Gained" class="rewardButtonDisabled">
                                        <img class="rewardIcon" src="assets/icon/reward-icons/004-value.png">
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>



                        <!-- <ion-row>
                        <ion-col col-12 text-center>
                            <ion-button class="div_width" *ngFor="let badge of inviteBadges; let j = index;"
                                style=" background:transparent;">
                                <p *ngIf="badge.Gained" class="badgeDescription">{{badge.Badge.Description}}</p>
                                <p *ngIf="!badge.Gained" class="badgeDescriptionDisabled">{{badge.Badge.Description}}
                                </p>
                            </ion-button>
                        </ion-col>
                    </ion-row> -->
                    </ng-container>


                    <h6 style="text-align:center; ">Recommendations</h6>
                    <div style="display: inline-block">
                        <ion-row>
                            <ion-col text-center *ngFor="let badge of recommendationBadges let m = index;">
                                <!-- <ng-container > -->

                                    <ion-button style="--background:transparent;" *ngIf="badge.Gained"
                                        [style.background-color]="badge.Badge.Color" class="rewardButton">
                                        <img [style.background-color]="badge.Badge.Color" class="rewardIcon"
                                            src="assets/imgs/opinion-color.svg">
                                    </ion-button>


                                    <ion-button *ngIf="!badge.Gained" style="--background:transparent;" style="width:6rem ;height:6rem;" class="rewardButtonDisabled">
                                        <img style="background-color: #cecbcb;" class="rewardIcon" src="assets/imgs/opinion.svg">
                                    </ion-button>

                                <!-- </ng-container> -->
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col  style="width: 3em !important;margin-top: -1em;" *ngFor="let badge of recommendationBadges; let k = index;" class="ion-align-self-center" text-center>
                                <!-- <ion-button *ngFor="let badge of recommendationBadges; let k = index;"
                                    style="background:transparent;"> -->
                                    <p *ngIf="badge.Gained" class="badgeDescription">{{badge.Badge.Description}}</p>
                                    <p *ngIf="!badge.Gained" class="badgeDescriptionDisabled">
                                        {{badge.Badge.Description}}
                                    </p>
                                <!-- </ion-button> -->
                            </ion-col>
                        </ion-row>

                    </div>


                    <br>
                    <h4 style="text-align:center; ">REWARDS</h4>
                    <div class="nameBorder"></div>
                    <br>
                    <p *ngIf="trophyRoomData.Rewards.length == 0" style="text-align: center; ">
                        Unfortunately, the restaurant does not have nay rewards at the moment</p>

                    <ion-list *ngIf="trophyRoomData.Rewards.length != 0">
                        <ion-item class="rewardItem" *ngFor="let reward of trophyRoomData.Rewards"
                            (click)="claimReward(reward)">
                                <img src="assets/icon/reward-icons/007-gift.png">
                            <p style="margin-left:10%"><b><u>{{reward.Description}}</u></b><br>
                            Points Required: {{reward.PointsNeeded}}<br>
                            Level Required: {{reward.Level.Name}}</p>
                        </ion-item>
                    </ion-list>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</ion-content>
<br>