.main-content {
  width: 100%;
  //   background-color: $our-color !important;
  position: absolute;
}

.name {
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Assistant", sans-serif !important;
  opacity: 1;
  width: 100%;
  //   color: white;
}

.medName {
  width: 100%;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Assistant", sans-serif !important;
  opacity: 1;
  width: 100%;
  //   color: white;
}

.buttonTextSettings {
  font-size: 17px;
  height: 35px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
}

.buttonTextSettingsOH {
  font-size: 17px;
  text-transform: none;
  font-family: "Assistant", sans-serif !important;
}

.nameBorder {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 60%;
  margin-left: 20%;
}

.location {
  text-align: center;
  font-size: 17px;
}

.description {
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  //   color: white;
  margin-top: 5%;
}

.userItem {
  height: 60px;
  //   background-color: $our-color-secondary;
  border-radius: 5px;
}

ion-scroll[scrollX] {
  white-space: nowrap;
  height: 120px;
  overflow: hidden;

  .scroll-item {
    display: inline-block;
  }

  .selectable-icon {
    margin: 10px 20px 10px 20px;
    color: red;
    font-size: 100px;
  }

  ion-avatar img {
    margin: 10px;
  }
}

ion-scroll[scroll-avatar] {
  height: 60px;
}

.iconText {
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  //   color: white;
  margin-top: 5%;
}

.colStylingHeading {
  border-bottom-width: 1px;
  border-bottom-color: #4c4c4c;
  border-bottom-style: solid;
  font-size: 17px;
  //   color: white;
  font-weight: bold;
  // color: var(--ion-color-primary);
  font-family: "Assistant", sans-serif !important;
}

.levelHeading {
  text-align: center;
  margin-top: 10px;
}

.colStylingHeadingClick {
  border-bottom-width: 1px;
  border-bottom-color: #5871ff;
  border-bottom-style: solid;
  font-size: 17px;
  //   color: white;
  font-weight: bold;
  font-family: "Assistant", sans-serif !important;
}

.colStylingTextWebsite {
  //   color: white;
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  display: block;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttonTextSettings {
  font-size: 17px;
  height: 30px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
}

.colStylingText {
  //   color: white;
  font-size: 14px;
  font-family: "Assistant", sans-serif !important;
}

.buttonsBackground {
  background-color: transparent;
  width: 94%;
  margin-left: 3%;
  font-weight: bold;
}

.contactBox {
  float: right;
  display: block;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profileCard {
  font-family: "Assistant", sans-serif !important;
  //   background-color: $our-color-secondary;
  //   color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.item-ios.item-block .item-inner {
  border-bottom: none;
}

.item-md.item-block .item-inner {
  border-bottom: none;
}

.block {
  text-align: center;
  vertical-align: middle;
}

.roundedButton {
  height: 5rem;
  width: 5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eceff1;
  border-radius: 50%;
  display: table;
  margin: 0.6rem auto;
  background-color: transparent;

  ion-icon {
    font-size: 25px;
  }
}

.roundedButtonIcon {
  font-size: 25px;
  background-color: transparent;
  vertical-align: middle;
  display: table-cell;
  margin-top: 7px;
}

.recommendButton {
  margin-top: 5%;
  font-size: 17px;
  height: 30px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
}

.recommendedButton {
  margin-top: 5%;
  font-size: 17px;
  height: 30px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
  color: black;
  background-color: rgba(255, 255, 255, 0.795);

  span {
    ion-icon {
      color: black;
    }
  }
}

.Button {
  margin-top: 5%;
  font-size: 17px;
  height: 30px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
}

.checkInButton {
  background-color: green;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: #eceff1;
  border-radius: 50%;
  background: transparent;

  span {
    ion-icon {
      //   color: white;
    }
  }
}

.checkedInButton {
  margin-top: 5%;
  font-size: 17px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
  color: black;
  background-color: rgba(255, 255, 255, 0.795);
  height: 5rem;
  width: 5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eceff1;
  border-radius: 50%;

  span {
    ion-icon {
      color: black;
    }
  }
}

.cardDiv {

  //   background-color: $grey-background-color !important;
  img {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60vw;
    height: 60vw;
    margin-left: 20vw;
    border-radius: 2%;
  }
}

.menuButton {
  font-size: 17px;
  text-transform: none;
  font-family: "Assistant", sans-serif !important;
  margin-left: 10%;
  width: 80%;
}

.small-img-icon {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.med-img-icon {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-img-icon {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xlarge-img-icon {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xxlarge-img-icon {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div_width {
  // width: 19%;
  display: inline-block;
}

.div_width2 {
  width: 16%;
  display: inline-block;
}

.div_width3 {
  width: 17%;
  display: inline-block;
}

.div_width4 {
  width: 18%;
  display: inline-block;
}

.div_width5 {
  width: 19%;
  display: inline-block;
}

.div_width6 {
  width: 17%;
  display: inline-block;
}

.div_width7 {
  width: 19%;
  display: inline-block;
}

.div_width8 {
  width: 21%;
  display: inline-block;
}

ion-label {
  //   color: white;
}

[col-3] {
  border: 1px solid var(--ion-color-primary);
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

[col-2] {
  border: 1px solid var(--ion-color-primary);
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

[col-5] {
  border: 1px solid var(--ion-color-primary);
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

.progress-outer {
  // width: 100%;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: var(--ion-color-secondary);
  border: 1px solid #dcdcdc;
  color: #fff;
  border-radius: 20px;
}

.progress-inner {
  min-width: 15%;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  // //   color: white;
  color: black;
  text-align: center;
}

.reward_button {
  background: transparent;
}

.rewardItem {
  margin-bottom: 2%;
  background: white;
  border-radius: 1%;
  // h2 {
  // color: $our-color;
  // }
}

.rewardButton {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.rewardButtonDisabled {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  --background: transparent !important;
  //   background: $grey-background-color;
}

.rewardIcon {
  border-radius: 50%;
  width: 4em;
  
}

.levelHeading{
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.badgeDescription {
  text-align: center;
  font-size: 10px;
  //   color: white;
}

.badgeDescriptionDisabled {
  text-align: center;
  font-size: 10px;
  //   color: $grey-background-color;
}

.item-ios.item-block .item-inner {
  border: none;
}

.item-md.item-block .item-inner {
  border: none;
}

.list-ios>.item-block:first-child {
  border: none;
}

.list-ios>.item-block:last-child {
  border: none;
}

.list-md>.item-block:first-child {
  border: none;
}

.list-md>.item-block:last-child {
  border: none;
}

.fire-palette {
  color: #fddd33;
  color: #f5b333;
  color: #ee7e33;
  color: #ea5133;
  color: #e93f33;
}

.centerDiv {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.venuePageButtons {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}