.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
  // color: white;
}
.profileImage {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  // border-color: white;
}
.bottomButtons {
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
}
.bottomButtons button {
  border-radius: 8px;
}
.text {
  background-color: transparent;
  // color: white;
  font-size: 20px;
  margin-top: 20px;
}
.textMobile {
  background-color: transparent;
  // color: white;
  font-size: 25px !important;
  margin-bottom: 10px !important;
}
.errorMessage {
  background-color: transparent;
  color: rgb(255, 209, 209);
  margin-left: 7%;
  font-family: "Assistant", sans-serif !important;
}
.passwordShowText {
  background-color: transparent;
  width: 80%;
  text-align: left;
  margin-left: 20%;
  font-family: "Assistant", sans-serif !important;
  margin-top: 1%;
}
.inputBoxMobile {
  // background-color: $our-color-secondary;
  width: 86%;
  margin-left: 7%;
  border-radius: 3px;
  align-content: center;
  text-align: center;
}
.form {
  text-align: center;
}
.heading {
  text-align: center;
  // color: white;
}
.usernameText {
  background-color: transparent;
}
.usernameText p {
  margin-top: 1%;
}
.countryCode {
  // background-color: $our-color-secondary;
  margin-top: 10%;
  border-radius: 3px;
  align-content: center;
  text-align: center;
  p {
    // font-size: 2rem;
  }
}
.button {
  width: 80%;
  margin-left: 10%;
}
