<ion-header>
  <ion-toolbar>
      <ion-title class="header-style">
        Registration
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding #container>
  <ion-list lines="none">
    <form class="form" [formGroup]="registrationForm">
      <div [hidden]="step != '1'">
        <!-- <h1 class="mainHeading" style="margin-top: 5%;">Registration</h1> -->
        <div style="margin-top:8%;">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input
              [class.invalid]="!registrationForm.controls.username.valid && (registrationForm.controls.username.dirty || submitAttempt)"
              formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-item class="usernameText" *ngIf="registrationForm.controls.username.pending">
            <p >Checking username...</p>
          </ion-item>
          <ion-item class="usernameText"
            *ngIf="!registrationForm.controls.username.valid && !registrationForm.controls.username.pending && (registrationForm.controls.username.dirty || submitAttempt) && registrationForm.value.username != ''">
            <p style="color: red !important;">Sorry, that username is already taken</p>
          </ion-item>
          <ion-item class="usernameText" *ngIf="registrationForm.value.username == '' && submitAttempt">
            <p style="color: red !important;">Sorry, that username cannot be used</p>
          </ion-item>
          <ion-item class="usernameText"
            *ngIf="registrationForm.controls.username.valid && !registrationForm.controls.username.pending && (registrationForm.controls.username.dirty || submitAttempt)">
            <p style="color: green !important;">Username is Available!</p>
          </ion-item>
        </div>
        <div style="margin-top:3%;">
          <ion-item>
            <ion-label>First Name:</ion-label>
            <ion-input
              [class.invalid]="!registrationForm.controls.FirstName.valid && (registrationForm.controls.FirstName.dirty || submitAttempt)"
              formControlName="FirstName" type="text"></ion-input>
          </ion-item>
        </div>
        <ion-item class="errorMessage" style="margin-top: -1%;"
          *ngIf="!registrationForm.controls.FirstName.valid  && registrationForm.controls.FirstName.dirty && submitAttempt">
          <p style="color: red !important;">Please enter a valid name</p>
        </ion-item>
        <div style="margin-top:3%;">
          <ion-item>
            <ion-label>Last Name:</ion-label>
            <ion-input
              [class.invalid]="!registrationForm.controls.LastName.valid && (registrationForm.controls.LastName.dirty || submitAttempt)"
              formControlName="LastName" type="text"></ion-input>
          </ion-item>
        </div>
        <ion-item class="errorMessage" style="margin-top: -1%;"
          *ngIf="!registrationForm.controls.LastName.valid  && registrationForm.controls.LastName.dirty && submitAttempt">
          <p style="color: red !important;">Please enter a valid name</p>
        </ion-item>
        <div style="margin-top:2%;">
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input (keyup.enter)="closeKeyboard();" placeholder="johnny@live.com"
              style="font-size: 20px;text-align: center;align-content: center;" formControlName="emailAddress"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="errorMessage"
            *ngIf="!registrationForm.controls.emailAddress.valid  && registrationForm.controls.emailAddress.dirty">
            <p style="color: rgb(252, 176, 176);">Please enter a valid email address.</p>
          </ion-item>
        </div>
        <div >
          <ion-item>
            <ion-label>Password:</ion-label>
            <ion-input (keyup.enter)="closeKeyboard();" class="my-input" *ngIf="!showPassword"
              formControlName="hashedPassword" type="password"></ion-input>
            <ion-input (keyup.enter)="closeKeyboard();" class="my-input" *ngIf="showPassword"
              formControlName="hashedPassword" type="text"></ion-input>
          </ion-item>
        </div>
        <ion-item class="passwordShowText">
          <ion-label>Show Password</ion-label>
          <ion-toggle [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>
        <ion-item class="errorMessage" style="margin-top: -3%;"
          *ngIf="!registrationForm.controls.hashedPassword.valid  && registrationForm.controls.hashedPassword.dirty && submitAttempt">
          <p style="color: red !important;">Please enter a valid password.
            <br>(minimum of 6 characters/numbers)</p>
        </ion-item>
        <div style="margin-top:2%;" >
          <ion-item>
            <ion-label>Gender:</ion-label>
            <ion-select formControlName="gender" ok-text="Ok" cancel-text="Cancel">
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Male">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div [hidden]="step != '2'" style="padding-bottom: 13%;">
        <br>
        <p style="text-align: center;">Your <u>mobile number</u> allows
          us to link you up with your friends who have the app.</p>
        <br>
        <br>
        <h1 class="mainHeading">Mobile Number</h1>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{countryCode}}</p>
            </ion-col>
            <ion-col col-8>
                <ion-item>
                  <ion-input (keyup.enter)="closeKeyboard();" placeholder="enter number"
                   formControlName="CellNumber"
                   type="text"></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item class="errorMessage"
          *ngIf="!registrationForm.controls.CellNumber.valid  && registrationForm.controls.CellNumber.dirty">
          <p style="color: red;">Please enter a mobile number.</p>
          <p style="color: red;">Minimum of 9 Numbers is required</p>
          <p style="color: red;">Country Code is required</p>
        </ion-item>
      </div>
      <div [hidden]="step != '3'">
        <h1 style="font-family: 'Assistant', sans-serif !important;">Profile Image</h1>
        <br>
        <!-- <img (click)="uploadImage();" class="profileImage" src="{{imageUrl}}" [lazyLoad]="imageUrl" [offset]="100"
          [scrollTarget]="container._scroll._el"> -->
          <img (click)="uploadImage();" class="profileImage" src="{{imageUrl}}" >
        <p style="text-align: center;color: white;margin-top: 5%;font-family: 'Assistant', sans-serif !important;">Click
          on the image to open your Gallery</p>
      </div>
    </form>
  </ion-list>
  <div class="bottomButtons">
    <ion-button style="border-radius: 5px;" class="button" [disabled]="!imageUploadedSuccess && step == '3'"
      (click)="goToNextStep();" block color="primary" outline>Continue</ion-button>
    <ion-button style="margin-top: 5%;border-radius: 5px;" [hidden]="step == '1'" class="button"
      (click)="skipStep();" block color="warning" outline>Skip</ion-button>
    <ion-button style="margin-top: 5%;border-radius: 5px;" [hidden]="step == '3'" class="button"
      (click)="cancel();" block color="danger">Back</ion-button>
  </div>
</ion-content>