.background {
  background-color: #EBEBEB !important;
}

.card {
  border-radius: 1%;
  // --box-shadow-color: $our-color;
  box-shadow: 1px 2px 3px var(--box-shadow-color);
}

.card_content {
  // background-color: red;
  // padding-bottom: none;
  // p {
  //   margin-bottom: 0px;
  // }
  // color: red;
}

.card_row {
  // background-color: var(--ion-color-primary);
  // background-color: #Ae56fd;
  // color: red;
}

.card_text_title {
  color: var(--ion-color-primary);
  text-align: center;
  font-weight: 500;
  font-family: "Indie Flower", cursive !important;
}

.card_text {
  // color: $our-color;
  text-align: center;
}

.filter_text {
  // color: var(--ion-color-primary);
  color: black;
  text-align: center;
}

.card_item {
  color: #488aff;
}

.card-content-ios {
  padding-top: 8px;
  padding-bottom: 0px;
}

.card-content-md {
  padding-top: 5px;
  padding-bottom: 0px;
}

.card_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_item_time_open {
  color: green;
}

.card_item_time_close {
  color: red;
}

.has-refresher > .scroll-content {
  background-color: transparent !important;
}

.loadingGif {
  position: fixed;
  z-index: 100;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 150px;
  margin: auto;
}

html,
body {
  height: 95%;
}

.card-background-page {
  ion-card {
    position: relative;
    // margin: 2% auto 2%;
  }

  .card-title {
    position: absolute;
    top: 2%;
    margin-left: 3%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Assistant", sans-serif !important;
    opacity: 1;
    width: 90%;
    // color: white;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
      2px 2px 20px black, 2px 2px 25px black;
  }

  .card-subtitle {
    font-size: 1.3em;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
      2px 2px 20px black, 2px 2px 25px black;
    position: absolute;
    font-weight: 300 !important;
    top: 82%;
    font-family: "Rajdhani", sans-serif !important;
    width: 100%;
    // color: #fff;
    margin-left: 4%;
  }

  .card-subtitle-text {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 5px;
  }

  .km-text {
    border-style: solid;
    // border-color: white;
    border-width: 0.5px;
    display: table-cell;
    height: 40px;
    width: 40px;
    float: right;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #fff;
    background-color: #00000070;
    filter: brightness(120%);
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
      2px 2px 20px black, 2px 2px 25px black;
  }

  .type {
    font-size: 1.3em;
    position: absolute;
    top: 87%;
    font-weight: 200 !important;
    font-family: "Assistant", sans-serif !important;
    width: 100%;
    // color: #fff;
    text-align: right;
    padding-right: 4%;
    text-shadow: 1px 1px 15px black, 1px 0 25px black, 1px 1px 30px black;
  }

  .distance {
    font-size: 0.9em;
    position: absolute;
    top: 85%;
    font-family: "Assistant", sans-serif !important;
    width: 100%;
    // color: #fff;
    text-align: right;
    padding-right: 3%;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
      2px 2px 20px black, 2px 2px 25px black;
  }
}

.cardDiv {
  width: 100vw;
  height: 100vw;
}

.image-container {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, transparent 81px, white 81px);
}

.cardImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100vw;
  height: 56.25vw;
  max-width: 177.78vh;
  background: transparent;
}

.name {
  width: 100%;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Assistant", sans-serif !important;
  opacity: 1;
  width: 100%;
//   color: white;
  margin-top: 8%;
  text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
    2px 2px 20px black, 2px 2px 25px black;
}

.textBox {
  height: 30px;
  margin-top: -30%;
  background-color: black !important;
}

.card-subtitle-times {
  font-size: 1.3em;
  text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
    2px 2px 20px black, 2px 2px 25px black;
  position: absolute;
  font-weight: 300 !important;
  top: 72%;
  font-family: "Rajdhani", sans-serif !important;
  width: 100%;
//   color: #fff;
  margin-left: 4%;
}

.card-subtitle-times-2 {
  font-size: 1.3em;
  text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black,
    2px 2px 20px black, 2px 2px 25px black;
  position: absolute;
  font-weight: 300 !important;
  top: 65%;
  font-family: "Rajdhani", sans-serif !important;
  width: 100%;
//   color: #fff;
  margin-left: 4%;
}

.favButton {
  background-color: gold;
}

.searchButton {
  background-color: rgb(201, 0, 151);

  ion-icon {
    // color: white;
  }
}

.fabButton {
  background-color: rgb(32, 119, 206);
  position: relative;
  margin-top: 7%;

  ion-icon {
    // color: white;
  }
}

.toolbar-title-ios {
  font-size: 2.5rem;
}

.toolbar-title-md {
  font-size: 2.5rem;
}

.appName {
//   color: white !important;
  left: 0;
  right: 0;
  margin-top: 0%;
  text-overflow: none;
  font-weight: 500;
  font-family: "Indie Flower", cursive !important;
}

.toolbar-title {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: visible !important;
}

.toolbar-background-ios {
  background: transparent;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
    position: absolute;
    top: -8px;
    right: 40px;
    // color: white;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.fab {
  contain: initial;
}

.blur {
  filter: opacity(5px);
  -webkit-filter: opacity(0.4);
  transition: -webkit-filter 1ms linear;
}

.toolbar-md {
  min-height: 46px;
}

.toolbar-ios {
  min-height: 46px;
}

.noVenue {
  // color: $our-color;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Assistant", sans-serif !important;
  opacity: 1;
}

.card-ios {
  margin: 0%;
}

.card-md {
  margin: 0%;
}
