<ion-header>
    <ion-toolbar>
        <ion-title class="header-style">
            Mahala
        </ion-title>
    </ion-toolbar>
</ion-header>
<div *ngIf="showLoading">
  <img class="loadingGif" src="assets/imgs/spinner.svg">
</div>
<ion-content class="card-background-page" #container #pageTop>
  <ion-refresher (ionRefresh)="refreshLocation($event)" slot="fixed">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>
  <div (click)="contentClicked()" [ngClass]="{ 'blur' : fabButtonClicked }">
    <div style="text-align: center;width:100%;color: black" [hidden]="!loaded" *ngIf="!loaded && !noInternet">
      <h5 class="name">Sorry, no venues were found</h5>
    </div>
    <div style="text-align: center;width:100%;color: black" [hidden]="!noInternet">
      <h5>Internet connection lost, pull down to refresh</h5>
    </div>
    <div *ngIf="!showLoading && !noInternet" class="background">
      <!-- <ion-card [hidden]="hasLoadedImgBool == false" *ngFor="let venue of venues"
        (click)="openVenue(venue.Id,venue.Image,venue.TinyImage);" class="card"> -->
        <ion-card *ngFor="let venue of venues"
        (click)="openVenue(venue.Id,venue.Image,venue.TinyImage);" class="card">
        <!-- <img (load)="hasLoadedImg()" *ngIf="venue.Image != null" class="cardImage" src="{{venue.TinyImage}}"
          [lazyLoad]="venue.Image" [offset]="100" [scrollTarget]="container._scroll._el" /> -->
        <!-- <img *ngIf="venue.Image == null" class="cardImage" src="assets/imgs/mahala-logo.png" /> -->
        <img class="cardImage" src="{{venue.Image}}" />
        <ion-card-content class="card_content">
          <h1 class="card_text_title">{{venue.Name}}</h1>
          <p class="card_text">
            <span class="card_description">{{venue.Description}}</span>
            <span style="text-align: center;">
              <ion-row no-padding *ngFor="let time of venue.Times;" class="card_row">
                <ion-col>
                  <span style="text-align: center;">
                    <div clear small icon-start class="card_item_time_close">
                      <ion-icon name='star' style="zoom:1;color:#F9CC33"></ion-icon>
                      <span *ngIf="venue.VenueTypes != null" class="filter_text">
                        <span *ngFor="let venueType of venue.VenueTypes; let isLast=last" class="filter_text">
                          &thinsp; {{venueTypes[venueType - 1].Description}}{{isLast ? '' : ', '}}
                        </span>
                      </span>
                      <span *ngIf="venue.VenueTypes == null" class="filter_text">
                        <span class="filter_text">
                          &nbsp; No venue types allocated &nbsp;
                        </span>
                      </span>
                    </div>
                  </span>
                </ion-col>
              </ion-row>
            </span>
            <span style="text-align: center;">
              <div *ngIf="venue.Times != undefined && venue.Times.length >= 1 && venue.Times != null"
                style="text-align: center;">
                <ion-row no-padding *ngFor="let time of venue.Times;" class="card_row">
                  <ion-col>
                    <span style="text-align: center;">
                      <div ion-button clear small color="success" icon-start class="card_item_time_open">
                        <ion-icon name='clock' style="zoom:1;"></ion-icon>
                        Opens: {{time.Open}}
                      </div>
                    </span>
                  </ion-col>
                  <ion-col>
                    <span style="text-align: center;">
                      <div clear small color="danger" icon-start class="card_item_time_close">
                        <ion-icon name='clock' style="zoom:1;"></ion-icon>
                        Closes: {{time.Close}}
                      </div>
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </span>
          </p>
        </ion-card-content>
        <ion-row no-padding class="card_row" color="primary">
          <ion-col style="text-align: center;">
            <div clear small color="primary" icon-start class="card_item">
              <ion-icon name='eye' style="zoom:1;"></ion-icon>
              {{venue.Views}}
            </div>
          </ion-col>
          <ion-col style="text-align: center;">
            <div clear small color="primary" icon-start class="card_item">
              <ion-icon name='pin' style="zoom:1;"></ion-icon>
              {{venue.Distance}} Km
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <!-- <ion-infinite-scroll id="myElement" *ngIf="showInfiniteScroll" (ionInfinite)="doInfinite($event)" threshold="1%">
    <ion-infinite-scroll-content loadingSpinner="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-infinite-scroll id="myElement" threshold="100px" *ngIf="showInfiniteScroll" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="showEndOfList">
    <p class="noVenue">That's all we have for now folks...</p>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab (click)="fabClicked()">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="showFilters();close();">
        <ion-icon name="options"></ion-icon>
        <!-- <ion-label>Filter</ion-label> -->
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="cancelFilters();close();">
        <ion-icon name="remove-circle"></ion-icon>
        <!-- <ion-label>Clear Filter</ion-label> -->
      </ion-fab-button>
      <ion-fab-button color="medium" (click)="presentSearchVenueModal();close();">
        <ion-icon name="search"></ion-icon>
        <!-- <ion-label>Search</ion-label> -->
      </ion-fab-button>
      <ion-fab-button color="light" (click)="loadProfile();close();">
        <ion-icon name="settings"></ion-icon>
        <!-- <ion-label>Settings</ion-label> -->
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="scrollToTop();close();">
        <ion-icon name="arrow-up"></ion-icon>
        <!-- <ion-label>Scroll To Top</ion-label> -->
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>