<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack();">
            <ion-back-button defaultHref="venue"></ion-back-button>
        </ion-buttons>
        <ion-title class="header-style">
            Reward QR Code
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #container class="card-background-page">
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <h5 style="margin-top:20%;text-align:center;">Please show this QR Code for scanning to claim your reward</h5>

    <ion-item class="qrCode">
        <qr-code [value]="rewardCode" [size]="200"></qr-code>
    </ion-item>
</ion-content>