<ion-content #container class="card-background-page">
  <div class="divContent">
    <h2 class="congratsText">Message from <span class="venueName">{{venueName}}</span>!</h2>
    <div class="img">
      <img class="badgeIcon"
        src="assets/imgs/conversation.svg">
    </div>
    <br>
    <h4 class="description">
      "{{message}}"
    </h4>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="closeButton" (click)="close();">
    Close
  </ion-button>
</ion-footer>