<ion-header>
    <ion-toolbar style="text-align:center;background: transparent !important">
        <ion-buttons slot="start" (click)="goBack();">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="mainHeading">Search</ion-title>
    </ion-toolbar>
    <div class="searchBar">
        <ion-searchbar [(ngModel)]="term" [showCancelButton]="false" (ionInput)="searchVenues(term)" (ionCancel)="cancelSearch()"
            (ionClear)="clearSearch()" placeholder="Start typing ..." (keyup.enter)="closeKeyboard();">
        </ion-searchbar>
    </div>
</ion-header>
<ion-content #container class="card-background-page">
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list no-lines>
        <div>
            <ion-list>
                <ion-item *ngFor="let item of venuesFound" style="background-color: transparent;">
                    <ion-item (click)="openSpot(item.Id);" class="slidingOptions">
                        <ion-avatar slot="start">
                            <!-- <img *ngIf="item.ListImage != null" src="assets/imgs/spinner.svg" [lazyLoad]="item.ListImage" [offset]="100" [scrollTarget]="container._scroll._el"> -->
                            <img *ngIf="item.ListImage != null" src="{{item.ListImage}}">
                            <img *ngIf="item.ListImage == null" src="assets/imgs/noImageSmall.png">
                        </ion-avatar>
                        <ion-label>
                            <h3 class="name" text-wrap>{{ item.Name }}</h3>
                            <p class="address">{{ item.SingleLineAddress }}</p>
                        </ion-label>
                    </ion-item>
                </ion-item>
                <div style="width: 100%;text-align: center;">
                    <span class="name" *ngIf="noVenuesFound && !noInternet">
                        <br>No Venues Found</span>
                </div>
            </ion-list>
        </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="showInfiniteScroll" (ionInfinite)="doInfinite($event)" threshold="1%">
        <ion-infinite-scroll-content loadingSpinner="">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>