.backIcon {
  position: fixed;
  margin-top: 4%;
  font-size: 30px !important;
  margin-left: 4%;
  z-index: 100;
}
.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.name {
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  margin: auto;
}
.address {
  font-size: 14px;
  font-family: "Assistant", sans-serif !important;
  margin: auto;
}
ion-searchbar {
  max-width: 95%;
  margin-left: 2.5%;
}
.title.title-md {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slidingOptions {
  background-color: var(--ion-colors-secondary);
  border-radius: 5px;
}
.searchbar-ios {
  background-color: transparent;
}
