<ion-header>
  <ion-toolbar>
    <ion-title class="header-style">
      Mahala
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce>
  <ion-slides style="height: 100%" pager>
    <ion-slide>
      <div class="messagetext" style="text-align:center;">
        <img style="width:55%;" src="assets/icon/reward-icons/mobile-app.svg">
        <h3>A Message from the Developers</h3>
        <p style="margin-top:10%;width:90%;margin-left:5%;">
          Welcome to the <b>Mahala</b> app.
          Lets get one thing straight, we aren't only regular 'restaurant' app. <b>Mahala</b>
          shows you restaurants where you can earn rewards for all you time spent there, such as free food or drinks,
          first access to exclusive offerings & much more.
          <br><br> Please note: <b>Mahala</b> is completely cost and ad free for users, your information will not
          be provided to any 3rd party organizations.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>



</ion-content>
<ion-footer>
  <ion-button (click)="continue();" block color="primary">Continue</ion-button>
</ion-footer>