.button {
  width: 80%;
  margin-left: 10%;
}
.bottomButtons {
  margin-top: 5%;
  width: 94%;
  margin-left: 3%;
}
.bottomButtons button {
  border-radius: 3px;
  border-width: 1px;
}
.friendsLogo {
  text-align: center;
  width: 60%;
  margin-left: 0%;
}
.headings {
  color: white;
  width: 90%;
  margin-left: 5%;
  font-size: 1.5rem;
}
ion-footer {
  height: 8%;
}
.slide-zoom {
  width: 80%;
}
.messagetext {
  font-size: 14px;
}
.footerButtons {
  border-color: #488aff;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 7px;
  position: absolute;
}
