.card-background-page {
  text-align: center;
}
.divContent {
  margin-top: 5%;
  display: inline-block;
}
.closeButton {
  text-transform: none;
  font-family: "Assistant", sans-serif !important;
  margin-left: 10%;
  width: 80%;
  background-color: #01b9f7;
}
.img {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 70vw;
}
.congratsText {
  text-align: center;
  margin-top: 10%;
}
.description {
  text-align: center;
  margin-top: 20%;
}
.points {
    color: var(--ion-color-primary);
    font-weight: bold;
}