<ion-content #container class="card-background-page">
    <div class="divContent">
        <h2 class="congratsText">Congratulations!</h2>
        <div class="img">
            <img src="assets/imgs/success-imgs/002-growth.png">
        </div>
        <br>
        <h4 class="description">You have earned yourself 
            <span class="points">{{points}}</span> points.</h4>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="closeButton" (click)="close();">
        Close
    </ion-button>
</ion-footer>