<ion-header>
    <ion-toolbar>
        <ion-title class="header-style">
            Add Recommendation
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid style="border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;" class="buttonsBackground">
        <ion-row>
            <ion-col class="block">
                <ion-button class="roundedButton" (click)="recommendedClick();" *ngIf="!recommended">
                    <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
                <ion-button class="roundedButtonSelectedUp" (click)="recommendedClick();" *ngIf="recommended">
                    <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="block">
                <ion-button (click)="notRecommendedClick();" class="roundedButton" *ngIf="recommended">
                    <ion-icon name="thumbs-down"></ion-icon>
                </ion-button>
                <ion-button (click)="notRecommendedClick();" class="roundedButtonSelectedDown"
                    *ngIf="!recommended">
                    <ion-icon name="thumbs-down"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <p style="text-align: center;" *ngIf="recommended">Recommended</p>
        <p style="text-align: center" *ngIf="notRecommended">Not Recommended</p>
    </ion-grid>
    <ion-button color="warning" (click)="showPublicRadio();" class="publicButton" style="text-align: center;">
        <span *ngIf="publicPost">
            Public
        </span>
        <span *ngIf="!publicPost">
            Friends
        </span>
    </ion-button>
    <div style="width:90%;margin-left:5%;text-align: center;margin-top:2%;">
        <p>Tell us about your experience at the {{venueName}}:</p>
    </div>
    <div style="margin-top:3%;width:90%;margin-left:5%;" class="inputBox">
        <ion-item>
            <ion-textarea type="text" [(ngModel)]="review"></ion-textarea>
        </ion-item>
    </div>
    <ion-row>
        <ion-col class="block">
            <ion-button style="border-radius: 5px;width:90%;margin-left:5%;margin-top:10%;" class="button"
                (click)="goBack();" block color="danger" outline>Cancel</ion-button>
        </ion-col>
        <ion-col class="block">
            <ion-button style="border-radius: 5px;width:90%;margin-left:5%;margin-top:10%;" class="button"
                (click)="addRecommendation();" block color="primary" outline>Add</ion-button>
        </ion-col>
    </ion-row>
</ion-content>