.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.roundedButton {
  height: 5rem;
  width: 5rem;
  border-style: solid;
  border-width: 1px;
  // border-color: #eceff1;
  border-radius: 50%;
  display: table;
  margin: 0.6rem auto;
  background-color: transparent;
}
.publicButton {
  height: 2rem;
  border-style: solid;
  border-width: 1px;
  // border-color: #eceff1;
  display: table;
  margin: 0.6rem auto;
  background-color: transparent;
}
.roundedButtonSelectedUp {
  margin-top: 5%;
  font-size: 16px;
  text-transform: none;
  border-width: 1px;
  font-family: "Assistant", sans-serif !important;
  color: green;
  background-color: rgba(255, 255, 255, 0.795);
  height: 5rem;
  width: 5rem;
//   border-style: solid;
//   border-width: 1px;
  // border-color: #eceff1;
//   border-radius: 50%;
  span {
    ion-icon {
      color: black;
    }
  }
}
.roundedButtonSelectedDown {
  margin-top: 5%;
  font-size: 16px;
  text-transform: none;
//   border-width: 1px;
  font-family: "Assistant", sans-serif !important;
  color: red;
  background-color: rgba(255, 255, 255, 0.795);
  height: 5rem;
  width: 5rem;
//   border-style: solid;
//   border-width: 1px;
  // border-color: #eceff1;
//   border-radius: 50%;
  span {
    ion-icon {
      color: red;
    }
  }
}
.roundedButtonIcon {
  font-size: 25px;
  background-color: transparent;
  vertical-align: middle;
  display: table-cell;
  margin-top: 7px;
}
.iconText {
  font-size: 16px;
  font-family: "Assistant", sans-serif !important;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 5%;
}
.block {
  text-align: center;
  vertical-align: middle;
}
.inputBox {
  ion-item {
    background-color: var(--ion-color-secondary);
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    ion-textarea {
      height: 100px;
    }
  }
}
