.mainHeading {
  font-family: "Assistant", sans-serif !important;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.name {
  font-size: 17px;
  font-family: "Assistant", sans-serif !important;
  margin: auto;
  font-weight: bold;
}
.address {
  font-size: 14px;
  font-family: "Assistant", sans-serif !important;
  margin: auto;
}
.title.title-md {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slidingOptions {
//   color: white;
  background-color: var(--ion-color-secondary);
  border-radius: 5px;
  width: 95%;
  margin-left: 2.5%;
}
.reply {
  background-color: var(--ion-color-secondary);
  border-radius: 5px;
  width: 75%;
  margin-left: 22.5%;
  margin-top: 1%;
}
.alert-ios .alert-input {
  height: 100px !important;
}
.recommendation-image {
  width: 100% !important;
  height: 100% !important;
  max-width: 5em !important;
  max-height: 5em !important;
  img {
    width: 100% !important;
    height: 100% !important;
  }
}
// .recommendation-image {
//     width: 50vw;
//     height: 50vw;
//     margin-left: auto;
//     margin-right: auto;
//     ion-img {
//         width: 50vw;
//         height: 50vw;
//         background: transparent;
//     }
// }
