<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack();">
            <ion-back-button defaultHref="venue"></ion-back-button>
        </ion-buttons>
        <ion-title class="mainHeading">Recommendations</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="addRecommendation($event)" color="primary">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-row>
            <ion-col>
                <p style="text-align:center;font-weight: bold;">
                    <ion-icon style="color: lightgreen;" name="thumbs-up"></ion-icon>&nbsp; {{recommended}}
                </p>
            </ion-col>
            <ion-col>
                <p style="text-align:center;font-weight: bold;">
                    <ion-icon style="color: lightcoral;" name="thumbs-down"></ion-icon>&nbsp; {{notRecommended}}
                </p>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content #container class="card-background-page">
    <div *ngIf="loading" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list no-lines>
        <div style="width: 100%;text-align: center;" *ngIf="!loading && recommendations.length < 1">
            <span>
                <br>No recommendations found.</span>
        </div>
        <div *ngFor="let r of recommendations" style="background-color: transparent;margin-top:2%;">
            <ion-item>
                <ion-avatar slot="start" (click)="presentProfileModal(r.RecommendationUser.Id);">
                    <img *ngIf="r.RecommendationUser.ListImage != null" src="r.RecommendationUser.ListImage">
                    <img *ngIf="r.RecommendationUser.ListImage == null" src="assets/imgs/profile-imgs/user.svg">
                </ion-avatar>
                <ion-label>
                    <h3 (click)="presentProfileModal(r.RecommendationUser.Id);">
                        <ion-icon style="color: lightgreen;vertical-align: middle;" name="thumbs-up"
                            *ngIf="r.Recommended"></ion-icon>
                        <ion-icon style="color: lightcoral;vertical-align: middle;" name="thumbs-down"
                            *ngIf="!r.Recommended"></ion-icon>&nbsp;
                        {{r.RecommendationUser.FirstName}} {{r.RecommendationUser.LastName}}
                    </h3>
                    <p>
                        <ion-icon class="icon" name="calendar-outline"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">{{r.ReviewAddedDate}}</span>
                    </p>
                    <p>
                        <ion-icon class="icon" name="clock-outline"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">{{r.ReviewAddedTime}}</span>
                    </p>
                    <p text-wrap>
                        <ion-icon class="icon" name="mail"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">
                            "{{r.Review}}"
                        </span>
                    </p>
                    <p *ngIf="userId == r.RecommendationUser.Id && !r.ListImage">
                        <ion-button (click)="uploadImage(r.Id);" class="publicButton" style="text-align: center;">
                            Add Image
                        </ion-button>
                    </p>
                </ion-label>
                <ion-avatar class="recommendation-image" slot="end" (click)="openImage(r.Image);"
                    *ngIf="r.ListImage != null">
                    <img src="r.ListImage">
                </ion-avatar>
            </ion-item>
            <ion-item class="reply" *ngIf="r.RecommendationReply != null" right>
                <ion-label>
                    <h2 class="name">
                        '{{venueName}}' replied:
                    </h2>
                    <p>
                        <ion-icon class="icon" name="calendar-outline"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">{{r.RecommendationReply.ReplyAddedDate}}</span>
                    </p>
                    <p>
                        <ion-icon class="icon" name="clock-outline"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">{{r.RecommendationReply.ReplyAddedTime}}</span>
                    </p>
                    <p text-wrap>
                        <ion-icon class="icon" name="mail"></ion-icon>
                        <span style="padding-top:8px;padding-right: 10px;padding-left: 10px;"
                            class="location locationBorder">
                            "{{r.RecommendationReply.Reply}}"
                        </span>
                    </p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="showInfiniteScroll" (ionInfinite)="doInfinite($event)" threshold="1%">
        <ion-infinite-scroll-content loadingSpinner="">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>