<ion-content #container class="card-background-page">
  <div class="divContent">
    <h2 class="congratsText">Congratulations!</h2>
    <div class="img" [style.background-color]="level.Color">
      <img *ngIf="user.Gender == 'Male'" [style.background-color]="level.Color" class="rewardIcon"
        src="assets/imgs/male-flamenco-dancer.svg">
      <img *ngIf="user.Gender == 'Female'" [style.background-color]="level.Color" class="rewardIcon"
        src="assets/imgs/female-flamenco-dancer.svg">
    </div>
    <br>
    <h4 class="description">You have reached
      <span [ngStyle]="{'color': level.Color}">
        {{level.Name}}
      </span> level
    </h4>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="closeButton" (tap)="close();" ion-button>
    Close
  </ion-button>
</ion-footer>