/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-back-button {
    --background: #ffc409 !important;
    --color: white !important;
}

.header-style {
    background-color: var(--ion-color-secondary);
    color: #f5f3f6;
    text-align: center;
}

.toolbar-container {
    background-color: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
    color: #f5f3f6;
}

ion-toolbar {
    background-color: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
    color: #f5f3f6;
}

.sc-ion-buttons-md-s .button {
    background-color: #ffc409 !important;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: white;
        fill: var(--ion-color-secondary);
    }
}

.backButtonFixed {
    position: fixed;
    z-index: 101;
}

.progress-outer[_ngcontent-nul-c3]{
    background-color: var(--ion-color-primary);
}

.progress-inner[_ngcontent-nul-c3]{
    background-color: var(--ion-color-tertiary);
    color: white;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    color: black;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    color: white;
    background-color: var(--ion-color-secondary);
}